@page
@model WebApplication1.Pages.DbFieldsModel
@{
    ViewData["Title"] = "DbFields";
}

<h1>DbFields</h1>
<br>
<h2>In our database your picture is categorize by the fields : </h2>
<br />
<ul style="font-size:25px">
    <li>Id : the primary key of the element in the data base</li>
    <li>Name : the full name of that element</li>
    <li>Size : the dimension of the element</li>
    <li>Path : the path from the directory where the element was located</li>
    <li>Format : the extension of the element </li>
    <li>Date : the date when the element was added to the datea base</li>
</ul>

