<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_Interface1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8000/PC" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_Interface1" contract="Interface1"
                name="BasicHttpBinding_Interface1" />
        </client>
    </system.serviceModel>
</configuration>